.media1 {
  background-color: "#424B54";

  padding: 1em;
}

img {
  height: 80vh;
  width: 80vh;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .media1 {
    display: none;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .media1 {
    display: none;
  }
}

@media only screen and (max-width: 812px) {
  .media1 {
    display: none;
  }
}

@media only screen and (min-height: 1100px) and (max-width: 1399px) {
  img {
    height: 55vw;
    width: 55vw;
  }
}
