.media1 {
  background-color: "#424B54";
  height: auto;
  width: auto;
  margin-right: 2em;
}

img {
  width: 100%;
  height: 100%;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .media1 {
    display: none;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .media1 {
    display: none;
  }
}

@media only screen and (max-width: 812px) {
  .media1 {
    display: none;
  }
}
