.square {
    position: relative;
    /*flex-basis: calc(33.333% - 10px);*/
    flex-basis: 126px;
    margin: 20px;
    box-sizing: border-box;
  }
.square::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
.square .inner {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
  }