.square {
    position: relative;
    /*flex-basis: calc(33.333% - 10px);*/
    flex-basis: 200px;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
  }
.square::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
.square .inner {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
  }

.colorContainer {
    margin: 0em 7em 7em 7em;
}

@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
    .square {
        position: relative;
        /*flex-basis: calc(33.333% - 10px);*/
        flex-basis: 67px;
        margin: 15px;
        box-sizing: border-box;
        }
    .colorContainer {
        margin: 0.5em;
    }
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .square {
        position: relative;
        /*flex-basis: calc(33.333% - 10px);*/
        flex-basis: 67px;
        margin: 15px;
        box-sizing: border-box;
      }
    .colorContainer {
        margin: 0.5em;
    }
}