h2 {
  color: #424b54;
  font-size: 50px;
  margin-top: 33px;
  text-align: left;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  h2 {
    color: #424b54;
    font-size: 30px;
    text-align: left;
  }
  .container {
    width: 250px;
  }
}

@media only screen and (max-width: 374px) {
  h2 {
    color: #424b54;
    font-size: 25px;
    text-align: left;
  }
  .container {
    width: 250px;
  }
}
