.too-many-colors {
  background-color: #8789c0;
  width: 80%;
}

.too-many-colors:hover {
  background-color: #5c5e86;
}

#button-container {
  display: grid;
  width: 100%;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 800px) {
  .too-many-colors {
    font-size: 12px;
  }
}
