.color-square {
  margin-right: auto;
  margin-left: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.15);
  height: 15vh;
  width: 15vh;
}
.emoji {
  padding: 10px;
  font-size: 40px;
}
