.card.active {
  pointer-events: all;
  z-index: 1;
  animation: fadeIn 0.6s ease-in-out both 0.3s;
}
.card {
  z-index: 0;
  width: 50vw;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 50vh;
  margin-top: 18.75vh;
  background-color: #f7f1e6;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  padding-left: 2vw;
  padding-right: 2vw;
}

.card.inactive {
  z-index: 2;
  animation: fadeOut 0.5s ease-in-out both;
}
.list {
  color: #424b54;
  font-weight: bolder;
  font-size: 1.5vw;
  margin-top: 5vh;
  line-height: 2rem;
}
#container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range {
  width: 100%;
}

button {
  grid-row: 2/3;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.15);
    position: absolute;
  }
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 14px;
    font-weight: bold;
  }
  .card {
    height: 70vh;
    margin-top: 12vh;
  }
}
