/* .title {
} */

.Header-text {
  color: #424b54;
  text-align: left;
  width: 220px;
  /*padding: 42.88px;*/
}

.Header-text:hover {
  color: #b49fcc;
}

@media only screen and (max-height: 450px) {
  .Header-text {
    margin-top: 0;
  }
}

@media only screen and (max-height: 350px) {
  .Header-text {
    font-size: 18px;
  }
}
